force-app/main/default/flows/Prevent_Creation_of_Expenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Budg</name>
        <label>Set Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProjectRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>At Risk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Total_Expenses</name>
        <label>Check Total Expenses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Expenses_greater_than_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectRecord.Total_Expenses__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProjectRecord.Budget__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Budg</targetReference>
            </connector>
            <label>Total Expenses greater than Budget?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prevent Creation of Expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevent Creation of Expenses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Total_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Name</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>ProjectRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Total_Expenses__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ProjectRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>TotalApprovedExpenses</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
